* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #2E4CFF;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

}

header {
  background-color: #2E4CFF;
  width: 100%;
  padding: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 56px;
  height: 56px;
}
.area-menu-links {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  margin-right: 20px; 
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.button-contact {
  background-color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2E4CFF;
  margin-left: 80px;
} 
.content-text-image {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.area-texto {
  width: 50%;
  max-width: 400px;
}
.area-texto h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.area-texto p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #E5E5E5;
}

.buttons-area-texto {
 margin-top: 40px;
}
.button-get {
  background-color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2E4CFF;
}
.button-sign {
  background-color: #2E4CFF;
  padding: 15px 48px;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-left: 30px;
}

.area-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.area-image img {
  width: 356px;
  height: 456px;
}

/* Inicio area main  */

main {
  background-color: #E5E5E5;

}
.classes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:60px;
}
.classes-area-image img {
  width: 345px;
  height: 512px;
}
.classes-area-block h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 59px;
  color: #000000;
  margin-left: 10px;
}
.area-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-master{
 
}
.block-life {
  margin-top: 60px;
}
.block-blue {
  background-color: #2E4CFF;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #FFFFFF;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.block-white {
  background-color: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #2E4CFF;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 10px;
}